VITE_SYSTEM_NAME=Claim Flow
VITE_SYSTEM_LOGO=P&C Claims Workflow Orchestrator

VITE_COGNITO_DOMAIN=claim-flow-qa.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=your-client-id
VITE_COGNITO_REDIRECT_URI=http://localhost:3000
VITE_COGNITO_LOGOUT_URI=http://localhost:3000
VITE_COGNITO_REGION=us-east-1

VITE_API_URL=https://your-api-id.execute-api.us-east-1.amazonaws.com/qa
